body {
    background-color: lightskyblue;
    font-family: Arial, Arial, Helvetica, sans-serif
}

.assignment {
    display:flex;
    padding:20px;
    margin: 20px;
    background: whitesmoke;
}

.assignment img {
    width: 250px;
    height: 200px;
    padding: 15px;
    border: 5px solid black;
    margin-right: 20px;
}

h1 {
    color: lightgrey;
    text-align:center;
}

a {
    text-decoration:none;
    color: #000000;
}